[
    {
        "if": {
            "Datasource.type": "postgis"
        },
        "then": {
            "Datasource.dbname": "hdm",
            "Datasource.password": "",
            "Datasource.user": "ybon",
            "Datasource.host": ""
        }
    },
    {
        "if": {
            "id": "hillshade"
        },
        "then": {
            "Datasource.file": "/home/ybon/SRTM/SRTM_W_250m-hillshade-3785.tif"
        }
    },
    {
        "if": {
            "id": "contour_line"
        },
        "then": {
            "Datasource.file": "/home/ybon/OSM/shp/land-polygons-split-3857/land_polygons.shp"
        }
    }
]

