[
    {
        "if": {
            "Datasource.type": "postgis"
        },
        "then": {
            "Datasource.dbname": "burundi",
            "Datasource.password": "",
            "Datasource.user": "ybon",
            "Datasource.host": ""
        }
    },
    {
        "if": {
            "id": "hillshade"
        },
        "then": {
            "Datasource.file": "/path/to/hillshade.vrt"
        }
    },
    {
        "if": {
            "id": "contour_line"
        },
        "then": {
            "Datasource.file": "/path/to/contour-25m.shp"
        }
    },
    {
        "if": {
            "id": "land-high"
        },
        "then": {
            "Datasource.file": "/path/to/land-polygons-split-3857/land_polygons.shp"
        }
    },
    {
        "if": {
            "id": "land-low"
        },
        "then": {
            "Datasource.file": "/path/to/simplified-land-polygons-complete-3857/simplified_land_polygons.shp"
        }
    }
]

